.link {
  display: flex;
  margin: 5vh 0;
}

.logo,
.message {
  margin: auto;
}

.hero {
  height: 50vh;
  background: url("https://images.unsplash.com/photo-1700513971603-eda40374ba0a?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;

}

.list-title {
  font-size: 36px;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.buttons-container button {
  height: 5rem;
  padding: 12px;
  width: 40%;
  border: none;
  border-radius: 10px;
  background-color: rgb(213, 207, 147);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 24px;
  color: rgb(52, 49, 49);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.buttons-container button:hover {
  transform: scale(1.05);
}