.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: linear-gradient(90deg, #c2c3c1 0%, #a9b08a 100%);
	width: 100%;
	padding: 1.5rem auto;
	padding-right: 1.5rem;
	margin-top: auto;
	box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
	animation: fadeInUp 1s ease forwards;
}

.logoImg {
	width: 160px;
	height: auto;
}



.title {
	font-family: "Dancing Script", cursive;
	color: rgb(11, 1, 28);
	font-size: 40px;
	margin: 0;
}

.socialMediaList {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	margin: 1rem 0;
	padding: 0;
}

.socialMediaItem svg {
	width: 30px;
	height: 30px;
	color: rgb(41, 40, 40);
	transition: transform 0.3s ease, color 0.3s ease;
	cursor: pointer;
}

.socialMediaItem svg:hover {
	transform: scale(1.2);
	color: #1a1a1a;
}


@media (max-width: 767px) {
	.footer {
		flex-direction: column;
		text-align: center;
		gap: 1rem;
		padding-top: 10px;
		padding-right: 0;
	}

	.logoImg {
		width: 120px;
	}

	.title {
		font-size: 32px;
	}
}