.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(90deg, #c2c3c1 0%, #a9b08a 100%);
	width: 100%;
	margin-top: auto;
}

.socialMediaList {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	margin-right: 32px;
}

.logoImg {
	width: 160px;
	height: 100%;
}

.socialMediaItem svg {
	width: 30px;
	height: 30px;
	color: rgb(41, 40, 40);
}

.title {
	font-family: "Dancing Script", cursive;
	color: rgb(11, 1, 28);
	font-size: 32px;
}